@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    .job {
        .description {
            p {
                margin: 1rem 0;
            }
            ul {
                list-style: circle;
                margin: 1rem 2rem;
            }
        }
    }
}

@media print {
    body {
        max-width: 21cm !important;
    }
}